# Object files
*.o
*.ko
*.obj
*.elf
*.dep
*.crf
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64s

# Debug files
*.dSYM/

# Temporary files
*.TMP

*.uvguix.*
*.swp
*.htm
*.axf

*.map

cmake-build-*
*.sublime-*
.idea
*.tmp
*.vscode
*.DS_Store
*.pyc

# STM32CubeMX related files
build/
hal_firmware/Release/
.vendor_stm32cube_f4/
.cache/
*.__i
*.mk
*.cyclo
*.su
*.sct
Release/VPetCube.hex
Release/VPetCube.list
.settings/language.settings.xml
VPetCube Release.launch
ClawPetCube Release.launch
hal_firmware/Core/Inc/app_config_local.h
*.list
*.hex
*.elf
Release/
Debug/
